apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - image-tags.yaml

replacements:
  - source:
      kind: ConfigMap
      name: image-tags
      fieldPath: data.api
    targets:
      - select:
          kind: Deployment
          name: imggen-deployment
        fieldPaths:
          - spec.template.spec.containers.[name=imggen-api-pod].image
        options:
          delimiter: ":"
          index: 1
  - source:
      kind: ConfigMap
      name: image-tags
      fieldPath: data.frontend
    targets:
      - select:
          kind: Deployment
          name: imggen-deployment
        fieldPaths:
          - spec.template.spec.containers.[name=imggen-pod].image
        options:
          delimiter: ":"
          index: 1
  - source:
      kind: ConfigMap
      name: image-tags
      fieldPath: data.api
    targets:
      - select:
          kind: Deployment
          name: imggen-nsfw-deployment
        fieldPaths:
          - spec.template.spec.containers.[name=imggen-nsfw-api-pod].image
        options:
          delimiter: ":"
          index: 1
  - source:
      kind: ConfigMap
      name: image-tags
      fieldPath: data.frontend
    targets:
      - select:
          kind: Deployment
          name: imggen-nsfw-deployment
        fieldPaths:
          - spec.template.spec.containers.[name=imggen-nsfw-pod].image
        options:
          delimiter: ":"
          index: 1
  - source:
      kind: ConfigMap
      name: image-tags
      fieldPath: data.nsfw_detector
    targets:
      - select:
          kind: Deployment
          name: nsfw-detector-deployment
        fieldPaths:
          - spec.template.spec.containers.[name=nsfw-detector-pod].image
        options:
          delimiter: ":"
          index: 1
